*, *::before, *::after {
    box-sizing: border-box;
}

.landing-top-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    margin-top: 100px;           
}

.body {
    font-family: 'Outfit';
}

.catchphrase {
    margin-top: 10px; /* Space between logo and catchphrase */
    text-align: center;
    font-size:  3vw;;      
    font-weight: 800;
}

.subtitles {
    margin-top: 5%; /* Space between logo and catchphrase */
    margin-bottom: 50px; /* Space between logo and catchphrase */
    text-align: center;
    font-size: 2.7vw;      
    font-weight: 800;
}

.catchphrase::after {
    content: '|';
    opacity: 1;
    animation: blink 1s infinite;
}
  
@keyframes blink {
  50% { opacity: 0; }
}

.img1-container {
    position: relative; 
    width: 65%;
    height: auto;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; /* Hide the part of the image that overflows */
    border-radius: 15px; /* Rounded corners */
    margin-bottom: 60px;
}

.img1-container img {
    width: 100%;
    height: 100%; /* Make the image fill the container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    display: block;
}

.overlay-text {
    position: absolute; /* Position the text over the image */
    width: 80%;
    height: 50%; /* Make the image fill the container */
    left: 50%; /* Center horizontally */
    color: white; /* White text */
    font-size: 1.8vw; /* Adjust as needed */
    font-weight: 700;
    text-align: center; 
    top: 50%; /* Adjust this value as needed */
    transform: translate(-50%, -60%); /* Center the element */
}

.button-container {
    width: 40%;
    height: 10%;
    position: absolute;
    left: 58.5%;
    top: 68%; /* Position it at the bottom of the container, adjust as needed */
    transform: translateY(-100%) translateX(-50%); /* Adjust vertical position */
    display: flex; /* To layout buttons horizontally */
    gap: 30px; /* Space between buttons */
}
  
.button-style {
    background-color: white; /* White background */
    color: black; /* Black text */
    border: none;
    border-radius: 15px; /* Rounded corners */
    padding: .9vw 1.5vw; /* Adjust padding as needed */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 1.1vw; /* Adjust font size as needed */
    font-weight: 800;
}
  
.button-style:hover {
    background-color: #f0f0f0; /* Slightly darker background on hover */
}

.wrapper {
    max-width: 800px;
    margin: 0 auto; 
    padding: 20px;
    margin-bottom: 60px; 
}
.typing-demo {
    margin: 20px; 
    text-align: justify; 
    font-size: 16px; 
    line-height: 1.6; 
    height: 325px; /* Fixed height for the typing area */
    font-family: courier;
    font-size: 1em;
    text-align: left;
    font-weight: 800;
    white-space: pre-wrap; /* Allows text to wrap and respects line breaks */
}
  
@keyframes typing {
    from { width: 0; }
    to { width: 100%; } /* Ensure it matches the width of .typing-demo */
}
  
.inputs-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 12%;
    margin-right: 12%;
    padding: 1vw;
    border-radius: 15px; /* Rounded edges for the outer container */
    background-color: white; /* White background for the outer container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
  }
  
.input-container {
    display: flex;
    align-items: center;
}
  
.input-description {
    margin-right: 10px;
    color: #333; /* Text color for the description */
    font-size: 1vw;
}
  
.fake-input {
    padding: .7vw 1.5vw;
    border-radius: 5px; /* Rounded edges for each fake input */
    background-color: #f0f0f0; /* Light grey background */
    color: #333; /* Text color */
    font-size: 1vw;
    margin-right: 1vw; /* Space between input and the next description */
}
  
.go-button {
    padding: .6vw 1.2vw;
    border-radius: 5px; /* Rounded button edges */
    background-color: black; /* Black button */
    color: white; /* White text */
    font-size: 1vw;
    cursor: pointer; /* Pointer cursor on hover */
}
  
.go-button:hover {
    background-color: #333; /* Slightly darker on hover */
}

.map-container {
    width: 65%;
    margin-top: 4vw;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; /* Hide the part of the image that overflows */
    border-radius: 15px; /* Rounded corners */
    margin-bottom: 6vw;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns of equal width */
    grid-template-rows: auto auto; /* Two rows, height set automatically based on content */
    gap: 1vw; /* Space between grid items */
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 5%;
    
}
  
.grid-item {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Align children vertically */
    align-items: center; /* Align children horizontally */
    padding: 1vw;
    height: 100%; /* Take full height of the grid area */
    font-size: 1vw;
}

.grid-item h3 {
    align-self: flex-start; /* Align h3 to the left */
    text-align: left; /* Align the text within h3 to the left */
    margin-bottom: 0; /* Remove any default bottom margin if necessary */
}
  
.photo-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    width: 100%;
}
  
.photo-item img {
    max-width: 100%; 
    max-height: 100%;
    object-fit: contain; 
    border-radius: 15px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc; 
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-links {
    display: flex; 
    align-items: center;
    gap: 20px; 
}

.navbar-link {
    color: #333; 
    text-decoration: none; 
    font-size: 16px;
    transition: color 0.3s ease; 
}

.navbar-link:hover {
    color: #000; 
}
  
.navbar-logo {
    height: 50px; 
}



.img2-container {
    position: relative; 
    width: 65%;
    height: auto;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; /* Hide the part of the image that overflows */
    border-radius: 15px; /* Rounded corners */
    margin-bottom: 60px;
}

.img2-container img {
    width: 100%;
    height: 100%; /* Make the image fill the container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    display: block;
}

.overlay-text-2 {
    position: absolute; /* Position the text over the image */
    width: 80%;
    height: 50%; /* Make the image fill the container */
    left: 50%; /* Center horizontally */
    color: white; /* White text */
    font-size: 1.8vw; /* Adjust as needed */
    font-weight: 700;
    text-align: left; 
    top: 50%; /* Adjust this value as needed */
    transform: translate(-50%, -70%); /* Center the element */
}

.button-container-2 {
    width: 40%;
    height: 10%;
    position: absolute;
    left: 57%;
    top: 68%; /* Position it at the bottom of the container, adjust as needed */
    transform: translateY(-100%) translateX(-50%); /* Adjust vertical position */
    display: flex; /* To layout buttons horizontally */
    gap: 30px; /* Space between buttons */
}
  
  
  /* The image itself */
.img2 {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    bottom: 0;
    object-fit: cover; /* Cover the container area */
    object-position: center; /* Adjust as needed: center, top, bottom, left, right, or combinations */
}
.img2-container img {
    width: 100%;
    height: 100%; /* Make the image fill the container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    display: block;
}
  
  /* Container for the overlay content */
