*, *::before, *::after {
    box-sizing: border-box;
}

.landing-top-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: 20vh;          
    margin-top: 80px;           
}

.body {
    font-family: 'Outfit';
}

.catchphrase {
    margin-top: 10px; /* Space between logo and catchphrase */
    text-align: center;
    font-size: 40px;      
    font-weight: 800;
}

.subtitles {
    margin-top: 50px; /* Space between logo and catchphrase */
    margin-bottom: 50px; /* Space between logo and catchphrase */
    text-align: center;
    font-size: 40px;      
    font-weight: 800;
}

.catchphrase::after {
    content: '|';
    opacity: 1;
    animation: blink 1s infinite;
}
  
@keyframes blink {
  50% { opacity: 0; }
}

.img1-container {
    width: 65%;
    height: auto;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; /* Hide the part of the image that overflows */
    border-radius: 15px; /* Rounded corners */
    margin-bottom: 60px;
}

.img1-container img {
    width: 100%;
    height: 100%; /* Make the image fill the container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    display: block;
}

.overlay-text {
    position: absolute; /* Position the text over the image */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -10%); /* Adjust the exact center */
    color: white; /* White text */
    font-size: 32px; /* Adjust as needed */
    font-weight: 700;
    text-align: center; /* Ensure text is centered */
    /* Additional styling as needed */
}

.button-container {
    position: absolute;
    top: 67%; /* Adjust this value as needed to position below the text */
    left: 50%;
    transform: translateX(-50%);
    display: flex; /* To layout buttons horizontally */
    gap: 30px; /* Space between buttons */
}
  
.button-style {
    background-color: white; /* White background */
    color: black; /* Black text */
    border: none;
    border-radius: 15px; /* Rounded corners */
    padding: 15px 30px; /* Adjust padding as needed */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 20px; /* Adjust font size as needed */
    font-weight: 800;
}
  
.button-style:hover {
    background-color: #f0f0f0; /* Slightly darker background on hover */
}
@media (max-width: 768px) {
    .img1-container {
        width: 90%; /* Increase width for smaller screens */
        height: 20%; /* Adjust height to maintain aspect ratio */
        margin-top: 20px;
    }
    .overlay-text {
        font-size: 14px; /* Smaller font size for smaller screens */
        transform: translate(-50%, -90%); /* Adjust positioning */
    }

    .button-container {
        top: 53%; /* Adjust positioning for smaller screens */
        gap: 10px; /* Smaller gap between buttons */
    }

    .button-style {
        padding: 5px 10px; /* Smaller padding for smaller buttons */
        font-size: 8px; /* Smaller font size */
    }
}

.wrapper {
    max-width: 800px;
    margin: 0 auto; 
    padding: 20px;
    margin-bottom: 60px; 
}
.typing-demo {
    margin: 20px; 
    text-align: justify; 
    font-size: 16px; 
    line-height: 1.6; 
    height: 325px; /* Fixed height for the typing area */
    font-family: courier;
    font-size: 1em;
    text-align: left;
    font-weight: 800;
    white-space: pre-wrap; /* Allows text to wrap and respects line breaks */
}
  
@keyframes typing {
    from { width: 0; }
    to { width: 100%; } /* Ensure it matches the width of .typing-demo */
}
  
.inputs-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 300px;
    margin-right: 300px;
    padding: 15px;
    border-radius: 15px; /* Rounded edges for the outer container */
    background-color: white; /* White background for the outer container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
  }
  
.input-container {
    display: flex;
    align-items: center;
}
  
.input-description {
    margin-right: 10px;
    color: #333; /* Text color for the description */
    font-size: 16px;
}
  
.fake-input {
    padding: 10px 20px;
    border-radius: 5px; /* Rounded edges for each fake input */
    background-color: #f0f0f0; /* Light grey background */
    color: #333; /* Text color */
    font-size: 16px;
    margin-right: 10px; /* Space between input and the next description */
}
  
.go-button {
    padding: 10px 20px;
    border-radius: 5px; /* Rounded button edges */
    background-color: black; /* Black button */
    color: white; /* White text */
    font-size: 16px;
    cursor: pointer; /* Pointer cursor on hover */
}
  
.go-button:hover {
    background-color: #333; /* Slightly darker on hover */
}

.map-container {
    width: 65%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; /* Hide the part of the image that overflows */
    border-radius: 15px; /* Rounded corners */
    margin-bottom: 60px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns of equal width */
    grid-template-rows: auto auto; /* Two rows, height set automatically based on content */
    gap: 50px; /* Space between grid items */
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 5%;
    
}
  
.grid-item {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Align children vertically */
    align-items: center; /* Align children horizontally */
    padding: 10px;
    height: 100%; /* Take full height of the grid area */
}

.grid-item h3 {
    align-self: flex-start; /* Align h3 to the left */
    text-align: left; /* Align the text within h3 to the left */
    margin-bottom: 0; /* Remove any default bottom margin if necessary */
}
  
.photo-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}
  
.photo-item img {
    max-width: 100%; 
    max-height: 100%;
    object-fit: contain; 
    border-radius: 15px;
}
  

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc; 
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-links {
    display: flex; 
    align-items: center;
    gap: 20px; 
}

.navbar-link {
    color: #333; 
    text-decoration: none; 
    font-size: 16px;
    transition: color 0.3s ease; 
}

.navbar-link:hover {
    color: #000; 
}
  
.navbar-logo {
    height: 50px; 
}


.img2-container {
    width: 65%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; /* Hide the part of the image that overflows */
    border-radius: 15px; /* Rounded corners */
    margin-bottom: 60px;
    position: relative;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  /* The image itself */
.img2 {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    bottom: 0;
    object-fit: cover; /* Cover the container area */
    object-position: center; /* Adjust as needed: center, top, bottom, left, right, or combinations */
}
.img2-container img {
    width: 100%;
    height: 100%; /* Make the image fill the container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    display: block;
}
  
  /* Container for the overlay content */
.overlay-text-2 {
    position: absolute;
    bottom: 15%;
    width: 100%;
    padding: 20px;
    text-align: left;
    color: white; /* White text */
    font-size: 32px; /* Adjust as needed */
    font-weight: 700;
    padding-left: 5%;
    padding-right: 5%
}

.overlay-text-2 h3 {
    text-align: cenleftleftter;
    padding: 0px;
}

.button-container-2 {
    position: absolute;
    display: flex; /* To layout buttons horizontally */
    gap: 30px; /* Space between buttons */
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
}
